
@font-face {
    font-family: Montserrat-Medium;
    font-size: 16px;
    src: url(Montserrat-Medium.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat-Medium;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color1: #34B0BE;
    --color2: #2b2a3d;
    --color3: #02051d;
    --color4: #FFFFFF;
    font-size: 16px; 
}

body{
    background-color: var(--color3);
}

#navigation{
    height: 40px;
}

#navigation .content-navbar{
    background-color:none;
    position: fixed;
    padding-right: 20px;
    height: 40px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    align-content: center;
    z-index: 8000;
    transition: 0.3s ease-in;
}

#navigation .content-navbar-show{
    transition: 0.3s ease-in;
    background-color:var(--color2);
}

#navigation .content-navbar img{
    cursor: pointer;
    margin-right: 1rem;
    height: 30px;
    width: 30px;
    z-index: 9000;
}

#navigation .content-menu{
    width: 100vw;
    background-color: var(--color4);
    opacity: 0.8;
    position: fixed;
    top:40px;
    z-index: 10000;
    transition: transform 0.5s;
    transform: translateX(100%);
}

#navigation .content-menu-show{
    transform: translateX(0);
}

#navigation .navbar-items{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
}

#navigation .content-menu .navbar-items li{
    padding: 0.5rem;
    
} 

#navigation .content-menu .navbar-items a{
    text-decoration: none;
    color: var(--color2);
}

/*=======================================================*/
/*============================ HOME =======================*/
/*=========================================================*/

#home  {
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;   
    z-index: 500;
}

#home .image-personal{

    display: flex;
    flex-direction: row;
    justify-content:center ;

    
}

#home .image-personal :nth-child(1){

    height: 315px;  /* ===========================SSSSSS=======================*/
    width: 315px;   /* ===========================SSSSSS=======================*/
    opacity: 0.2;
    z-index: 1000;
}

#home .image-personal :nth-child(2){
    position: absolute;
    
    height: 310px;
    width: 220px;
    top: 1.5rem;
    z-index: 1500;
}

#home .image-personal :nth-child(3){
    display: none;
}


#home .personal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .personal-info .personal-info-name{
    width: 300px;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .personal-info .personal-info-name :nth-child(1){
    color: var(--color4);
    font-size: 2rem;
}
#home .personal-info .personal-info-name :nth-child(2){
    color: var(--color1);
    font-weight:550;
    font-size: 50px;
}
#home .personal-info .personal-info-name :nth-child(3){
    height: 2px;
    width: 50%;
    background-color: var(--color4);
}
#home .personal-info .personal-info-name :nth-child(4){
    margin-top: 10px;
    color: var(--color4);
    font-size: 1rem;
}


#home .personal-info .personal-info-exp{
    padding-top: 2rem;
}

#home .personal-info .personal-info-exp p{
    color: var(--color4);
}

#home .personal-info .personal-info-exp p span{
    color: var(--color1);
}

#home .personal-info .socialnetwork {
    padding: 1rem;
    width: 25%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#home .personal-info .socialnetwork img{
    margin-left:1rem;
    margin-right:1rem;
    border: 5px solid  var(--color4);
    background-color: var(--color4);
    border-radius: 50%; 
}


#home .plataforms {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly; 
}

#home .plataforms .plataform-box{
    padding: 15px;
    width: 300px; 
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: var(--color2);
    border-radius: 10px ;
}

#home .plataforms .plataform-box img{
    padding: 5px;
    border-left: 10px solid var(--color4);
    border-right:10px solid var(--color4);
    border-radius: 10px;
    width: 4rem;
    height: 2.5rem;
    background-color: var(--color4);
}

/*=======================================================*/
/*====================== ABOUT ME =======================*/
/*======================================================*/

#aboutme {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x:hidden;
    z-index: 550;
}

#aboutme span{
    padding: 1.5rem;
    color: var(--color1);
    font-size: 2rem;
}

#aboutme .text-aboutme p{
    text-align: center;
    width: 80vw;
    color: var(--color4);
    font-size: 1rem;
    opacity: 0.6;
    
}

/*=======================================================*/
/*====================== SERVICES  =======================*/
/*======================================================*/


#services {
    padding-top: 2.5rem;
    text-align: center;
    
    z-index: 600;
}

#services span{
    margin: 2rem;
    font-size: 2rem;
    color: var(--color1);
    font-weight:550;
}

#services .services-card .serviceSwiper{
    
    padding: 1rem;
}

 #services .services-card .serviceSwiper .swiper-wrapper{
    padding: 1rem;
}
    

#services .services-card .serviceSwiper .swiper-wrapper .swiper-slide {
    position: relative;
    width: 250px;
    height: 330px;

    z-index: 300;
    text-align: center;
    background: var(--color4);

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    border-radius: 5px;
  }

#services .services-card .serviceSwiper .swiper-wrapper .swiper-slide img{
    z-index: 400;
    height: 7rem;
    width: 7rem;
}

#services .services-card .serviceSwiper .swiper-wrapper .swiper-slide :nth-child(2){
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--color3);
    font-size: 1.5rem;
    font-weight: 600;
}


#services .services-card .serviceSwiper .swiper-wrapper .swiper-slide :nth-child(3){
    padding: 1rem;
    color: var(--color2);
    font-size: 1.2rem;
    opacity: 0.4;
} 


/*=======================================================*/
/*====================== SKILLS  =======================*/
/*======================================================*/

#skills {
    padding-top: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills span{
    color: var(--color1);
    font-size: 2rem;
    font-weight: 600;
    
}


#skills .skill-items{
    padding: 0.5rem;
    width: 85%;  

}


#skills .skill-items .skill-item-bar {
    margin:1rem;
}

#skills .skill-items .skill-item-bar .skill-item-text{
    height: 2rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#skills .skill-items .skill-item-bar .skill-item-text :nth-child(1){
    
    color: var(--color4);
    font-weight: 600;

}
#skills .skill-items .skill-item-bar .skill-item-text :nth-child(2){
    margin-top: 10px;
    color: var(--color1);
    font-size: 0.8rem;
}

#skills .skill-items .skill-item-bar .skill-bar{
    height: 1.2rem;
    background-color: var(--color4);
    border-radius: 15px;

}

#skills .skill-items .skill-item-bar .skill-bar .bar{
    height: 100%;
    width: 80%;
    background-color:var(--color1);
    color:white;
    padding: 1px;
    border-radius: 15px;
} 

/*=======================================================*/
/*======================PORTFOLIO=======================*/
/*======================================================*/

#portfolio {
    padding-top: 2.5rem;
    text-align: center;

}

#portfolio span{
    text-align: center;
    color: var(--color1);
    font-size: 2rem;
}

#portfolio .projects-box {
    width: 100%; 
    padding: 1rem;

}

#portfolio .projects-box .projectSwiper .swiper-wrapper .swiper-slide{
    height: 200px;  
    width: 300px; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  #portfolio .projects-box .projectSwiper .swiper-wrapper .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px ;
}

/*=======================================================*/
/*====================== CONTACT  =======================*/
/*======================================================*/

#contact {
    padding-top: 2.5rem;
    text-align: center;

}

#contact span{
    color: var(--color1);
    font-size: 2rem;
}

#contact .canals{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items:center;

}

#contact .canals .box-canal{
    margin: 1rem;
    padding-top:2rem;

    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;

    height: 220px;
    width: 220px; 
    background-color: var(--color4);
    border-radius: 10px;
}

#contact .canals .box-canal img{
    height: 50%;
    width: 50%; 
}

#contact .canals .box-canal :nth-child(2){
    margin-top: 0.5rem;
    color: var(--color3);
    font-size: 1.2rem;
    font-weight: 600;
}

#contact .canals .box-canal :nth-child(3){
    margin-top: 1rem;
    color: var(--color2);
    opacity: 0.4;
    font-size: 0.9rem;
    font-weight: 600;
    
}

/*=======================================================*/
/*====================== FOOTER  =======================*/
/*======================================================*/

#footer {
    text-align: center;
    color: var(--color1);
    font-size: 1.2rem;
    margin-top: 4rem;
    padding-bottom: 3rem;
    
}

#footer span:after {
    content: ' \26A1';
    
}

@media (min-width:850px){

    #navigation .content-navbar{
        display: none;
    }
    
    #navigation .navbar-items{
        text-align: center;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: end;
        
    }
    #navigation .content-menu{
        opacity: 1;
        padding: 1rem;
        background-color:var(--color3);
        transform: translateX(0);
        top:0px;
    }  
    #navigation .content-menu-web{
        transition: 0.3s ease-in;
        background-color:var(--color2);
    }
    

    #navigation .content-menu .navbar-items a{
        color: #FFFFFF;
        padding-right: 2rem;
    }

    #navigation .content-menu .navbar-items a:hover{
        color: #FFFFFF;
        padding-right: 2rem;
        color: var(--color1);
        font-weight: 600;
    }

    #home  {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;   

    }
    #home .image-personal{
        position: relative;

        grid-area: 1 / 2 / 2 / 2;
    }

    #home .image-personal :nth-child(1){
        width: 400px;
        height: 400px;
        z-index: 1800;
        
    }

    #home .image-personal :nth-child(2){
        display: none;
    }

    #home .image-personal :nth-child(3){
        display: none;

        height: 100%;
        width: 72%; 
        display:block;
        position: absolute;
        bottom: 7%;
        z-index: 2000;
    }

    #home .personal-info{
        grid-area: 1 / 1 / 2 / 2;
        padding-top: 5rem;
        position: absolute;
        left: 10%;
        top:6%;
    }


    #home .plataforms {
        grid-area: 2 / 1 / 3 / 4; 
        position: relative;
        padding-bottom: 0px;
        height: 100px;
    }

    #home .plataforms .plataform-box{
        position: absolute;

        width: 500px; 
        height: 100px;
        bottom:30px;
        z-index: 2000;
    }

    #home .plataforms .plataform-box img{
        width: 7rem;
        height: 4rem;
    }
    
    #home .personal-info .personal-info-name{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    #home .personal-info .personal-info-name{
        width: 200px; 
    }
    
    #home .personal-info .personal-info-name :nth-child(1){
        font-size: 2.5rem;
    }
    #home .personal-info .personal-info-name :nth-child(2){
        font-weight:600;
        font-size: 3.5rem;
    }
    #home .personal-info .personal-info-name :nth-child(3){
        height: 5px;
        width: 70%;
        position: absolute;
        top: 50px;
    }
    #home .personal-info .personal-info-name :nth-child(4){
        margin-top: 10px;
        color: var(--color4);
        font-size: 1.2rem;
    }
    
    
    #home .personal-info .personal-info-exp{
        padding-top: 1.5rem;
    }
    
    #home .personal-info .personal-info-exp p{
        font-size: 1.3rem;
    }
    
    #home .personal-info .socialnetwork img{
        height: 2.5rem;
        width: 2.5rem;
    }

    #aboutme{
        padding-top: 2.5rem;
    }

    #aboutme .text-aboutme p{
        font-size: 1.3rem;
        width: 680px; 
    }

    #services{
        padding-top: 4.5rem;
    }

    #services .services-card .serviceSwiper .swiper-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    #portfolio .projects-box .projectSwiper .swiper-wrapper .swiper-slide {
        height: 300px;  
        width: 450px; 
        
    }
    #portfolio{
        padding-top: 4.5rem;
    }
    #contact .canals{

        flex-direction: row;
        justify-content: space-evenly;
    
    }
    #skills {
        padding-top: 4.5rem;
    }
    #skills .skill-items{
        width: 722px;  
    } 

    
}

@media (min-width:1150px){
    
    #home .image-personal :nth-child(1){
        width: 600px;
        height: 600px;
    }
    #home .plataforms {
        grid-area: 2 / 1 / 3 / 4; 
        position: relative;
        padding-bottom: 0px;
        height: 150px;
    }
    #home .plataforms .plataform-box{
        padding-top: 1.2rem;

        width: 700px; 
        height: 150px;
        bottom: 50px;
        z-index: 2000;
    }
    #home .plataforms .plataform-box img{
        width: 10rem;
        height: 7rem;
    }
    #home .personal-info{
        top:10%;
    }
    #home .personal-info .personal-info-name{
        width: 300px; 
    }

    #home .personal-info .personal-info-name :nth-child(1){
        font-size: 3rem;
    }
    #home .personal-info .personal-info-name :nth-child(2){
        font-weight:600;
        font-size: 5rem;
    }
    #home .personal-info .personal-info-name :nth-child(3){
        height: 5px;
        top: 60px;
    }
    #home .personal-info .personal-info-name :nth-child(4){
        margin-top: 10px;
        color: var(--color4);
        font-size: 2rem;
    }
    #home .personal-info .personal-info-exp{
        padding-top: 3rem;
    }
    #home .personal-info .personal-info-exp p{
        font-size: 2rem;
    }
    #home .personal-info .socialnetwork img{
        height: 3.5rem;
        width: 3.5rem;
    }

}

@media (min-width:1470px){
    #portfolio .projects-box .projectSwiper .swiper-wrapper {
        padding-left: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }

}